<div class="gh-viewport">
<a class="sr-only sr-only-focusable" href="#gh-main">Skip to main content</a>

{{partial "nav-menu"}}

{{gh-notifications location="top" notify="topNotificationChange"}}

<main id="gh-main" class="gh-main" role="main" data-notification-count={{topNotificationCount}}>
    {{outlet}}
</main>

{{gh-notifications location="bottom"}}

{{outlet "modal"}}
{{outlet "settings-menu"}}

</div>{{!gh-viewport}}
